basePath: /
info:
  contact: {}
  description: This is a sample server for a todo application.
  title: Todo API
  version: "1.0"
paths:
  /healthcheck:
    get:
      description: Returns OK if service is up
      responses:
        "200":
          description: OK
      summary: Health Check
      tags:
      - health
swagger: "2.0"
